APScheduler==3.6.3
click==7.1.2
Django==2.2.12
django-chartjs==2.1.0
djangorestframework==3.11.2
Flask==1.1.2
itsdangerous==1.1.0
Jinja2==2.11.2
MarkupSafe==1.1.1
psycopg2==2.8.5
pycurl==7.43.0.5
pytz==2020.1
six==1.14.0
sqlparse==0.3.1
tzlocal==2.1
Werkzeug==1.0.1
